*{
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    border-collapse: collapse;
    font-family: '標楷體';
}


.header{
    width: 1024px;
    height: 65px;
    /* background-color: aliceblue; */
    margin: auto;
    border: 1px solid black;
    border-bottom: 0;
}
.header>img{
   
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin: auto;
    
}

.aside{
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: aqua; */
    border: 1px solid black;
    border-right: 0;
    display: flex;
    flex-direction: column;
    
}
.aside-header{
    width: 215px;
    height: calc(100% - 25px) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blanchedalmond; */
}
.aside-title{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #ff00ff;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}
.aside-header > .box {
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top:5px;
    margin-bottom: 10px;
    /* border-radius: 10px; */
    font-size: 16px;
 background-image: url(/17300-104301/menu1.png);
}
.aside-header > .box:hover{background-image: url(/17300-104301/menu2.png);
}
.aside-header > .box>a{
    text-decoration: none;
}
.a-first{
    text-decoration: underline;
}

.aside-footer{
    width: 215px;
    height: 25px ;
    font-size: 16px;
    color: #000000;
    text-align: center;
    /* background-color: white; */
}
.main{
     width: calc(1024px - 215px);
     /* height: calc(768px - 65px -20px); */
     /* background-color: aquamarine; */
     border: 1px solid black;
}
.main-header{
    /* width: 215px; */
    height: 29px;
    font-size: 24px;
    color: #0000ff;
    /* background-color: red; */
}
.main-footer{
    /* width: 215px; */
    
    height: calc(100% - 29px) ;
    /* background-color: blue; */
}
iframe{
    width: 100%;
    height: 90%;
}
.footer{
    width: 1024px;
    height:  20px ;
    /* background-color: azure; */
    border: 1px solid black;
}